<div class="loginPageContainer">
    <div class="loginTitleContainer">
        <h1>Dig n' Pick</h1>
    </div>

    <form name="loginForm" class="mx-auto loginForm col-12 col-md-9 col-lg-7" ng-submit="login()" ng-controller="loginCtrl">
        <h4 style="margin-bottom: 20px;">Login to Admin Panel</h4>
        <p ng-if="isWrong" style="color: red">Wrong Username or Password. Please try again.</p>
        <div class="form-group">
            <p class="text-danger" ng-if="(!loginForm.email.$pristine && !loginForm.password.$pristine && loginForm.$invalid)">Please fill in the required fields!</p>
            <label for="exampleInputEmail1">Email</label>
            <input name="email" autocomplete="off" type="email" ng-model="email" class="form-control" id="email" aria-describedby="emailHelp"
                   placeholder="example@gmail.com" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="password" autocomplete="off" type="password" ng-model="password" class="form-control" id="password" placeholder="Password"
                   required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-login" style="width: 50%; margin-top: 10px">Login</button>
        </div>
    </form>
</div>