body, html {
    height: 100%;
}

.loginTitleContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.loginPageContainer {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.loginForm {
    background-color: #FFFFFF;
    padding: 30px;
    border-width: 1px;
    border-color: white;
    border-radius: 7px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(255,255,255, 0.6); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.navbar-style {
    background-color: #38393a;
}

.row-index {
    width: 50px;
    display: inline-block;
}


.search {
    display: flex;
    justify-content: flex-end;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.container.row {
    margin-left: -15px;
    margin-right: -15px;
}

.page-list {
    display: none !important;
}

.editable-submit, .editable-cancel {
    display: none;
}

#pb {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 30px;
    visibility: hidden;
}

.progress-text {
    color: #FFF;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
    top: 7px;
}

.modal-content {
    background-color: #f2f2f2;
}

.ageFilterContainer {
    display: flex;
}

#createAdForm label {
    font-weight: 600;
}

.countryExpand {
    cursor: pointer;
}

.countryExpand:hover {
    text-decoration: underline; 
}

.countryExpand:active {
    color: gray;
}

.linkStyle {
    cursor: pointer;
}

.linkStyle:hover {
    text-decoration: underline; 
}

.linkStyle:active {
    color: gray;
}

#coverPhotoContainer {
    margin-top: 7px;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #d1d1d1;
}

#coverPhotoContentDefault {
    display: flex;
    justify-content: center;
  position: absolute;  
    align-items: center;
    flex-direction: column;
}

#coverPhotoContentHover {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#coverPhotoContentUploading {
    display: none;
    background-color: black;
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.pointerCrusor:hover {
    cursor: pointer;
}

#closeCoverPhotoUploading {
    color: white;
    font-size: 25px;
    position: absolute;
    align-self: flex-end;
    right: 10px;
    top: 5px;
}

#coverPhotoContentUploadingContent {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#closeCoverPhotoUploading:hover {
    cursor: pointer;
}

.uploadingText {
    color: white;
    font-size: 20px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */     
}

#galleryBigContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    max-height: 480px;
    -webkit-box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.42);
    -moz-box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.42);
    box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.42);
    overflow-y: scroll;
}

#galleryAddContainer {
    height: 200px;
    width: 200px;
    margin: 20px;
    background-color: #d1d1d1;
    cursor: pointer;
    transition: 0.5s;
}

#galleryAddContainer:hover {
    background-color: #c0c0c0;
    transition: 0.5s;
}

#galleryAddDefault {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.galleryItemContainer {
    height: 200px;
    width: 200px;
    margin: 20px;
    background-color: #d1d1d1;
    cursor: pointer;
    transition: 0.5s;
}