<div style="padding-bottom: 50px;" id="manageSingleUserContainer" ng-controller="manageUserCtrl">
    <div style="padding-top: 20px;">
        <a ui-sref="viewAddUsers">&lt; Back to Users List</a>
    </div>
    <br>
    <h3>Manage user</h3>
    <br>
    <form autocomplete="off" ng-submit="updateUser()">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>UID</label>
                <input autocomplete="off" class="form-control" ng-model="uid" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Full Name*</label>
                <input autocomplete="off" class="form-control" ng-model="userName" placeholder="Full Name (Ex. Joe Doe)" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Email*</label>
                <input class="form-control" type="email" ng-model="userEmail" placeholder="user@email.com" disabled>
            </div>
        </div>
        <div class="form-row">
                <div class="form-group col-md-12">
                    <label>User Privileges</label>
                    <select ng-model="userLevel" class="form-control">
                        <option value='User'>User</option>
                        <option value='Admin'>Admin</option>
                    </select>
                </div>
            </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Mobile</label>
                <input class="form-control" ng-model="userMobile" placeholder="Mobile No (Ex. 01112233456)">
            </div>
        </div>
        <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Country</label>
                    <select ng-change="countryChanged(userCountry)" ng-model="userCountry" class="form-control">
                        <option value=''>Choose</option>
                        <option ng-repeat="country in countries" value="{{country.name}}">
                            {{country.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>State</label>
                    <select ng-change="stateChanged(userState)" ng-model="userState" class="form-control">
                        <option value=''>Choose</option>
                        <option ng-repeat="state in states" value="{{state.name}}">
                            {{state.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Area</label>
                    <select ng-model="userArea" class="form-control">
                        <option value=''>Choose</option>
                        <option ng-repeat="area in areas" value="{{area.name}}">
                            {{area.name}}
                        </option>
                    </select>
                </div>
            </div>
        <div style="margin-top: 20px;" class="form-group col-md-12">
            <input type="submit" class="form-control btn btn-primary" value="Edit User" />
        </div>
    </form>
    <div class="form-group col-md-12">
        <button ng-click="back()" class="form-control btn btn-danger">Back</button>
    </div>
</div>