<div style="padding-bottom: 50px;" id="manageSingleUserContainer" ng-controller="manageUserCtrl">
    <div style="padding-top: 20px;">
        <a ui-sref="viewAddUsers">&lt; Back to Users List</a>
    </div>
    <br>
    <h3>Manage user</h3>
    <br>
    <form autocomplete="off" ng-submit="updateUser()">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>UID</label>
                <input autocomplete="off" class="form-control" ng-model="uid" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Full Name*</label>
                <input autocomplete="off" class="form-control" ng-model="userName" placeholder="Full Name (Ex. Joe Doe)" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Email*</label>
                <input class="form-control" type="email" ng-model="userEmail" placeholder="user@email.com" disabled>
            </div>
        </div>
        <div class="form-row">
                <div class="form-group col-md-12">
                    <label>User Privileges</label>
                    <select ng-model="userLevel" class="form-control">
                        <option value='User'>User</option>
                        <option value='Admin'>Admin</option>
                    </select>
                </div>
            </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Mobile</label>
                <input class="form-control" ng-model="userMobile" placeholder="Mobile No (Ex. 01112233456)">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Country</label>
                <input id="userCountry" class="form-control" ng-model="userCountry" placeholder="Country (Ex. Egypt)">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>City</label>
                <input id="userCity" class="form-control" ng-model="userCity" placeholder="City (Ex. Cairo)">
            </div>
        </div>

        <div style="margin-top: 20px;" class="form-group col-md-12">
            <input type="submit" class="form-control btn btn-primary" value="Edit User" />
        </div>
    </form>
    <div class="form-group col-md-12">
        <button ng-click="back()" class="form-control btn btn-danger">Back</button>
    </div>
</div>