<div style="padding-bottom: 50px;" id="manageUsersContainer" ng-controller="usersCtrl">
    <div style="padding: 10px; ">
        <br>
        <h3>All Users</h3>
        <table id="manageUsersTable" data-search="true" data-search-time-out=0 data-pagination="true">
            <thead class="thead-dark">
                <tr>
                    <th data-formatter="formatIDCount">#</th>
                    <th data-field="name">Name</th>
                    <th data-field="email">Email</th>
                    <th data-field="level">Level</th>
                    <th data-formatter="formatManageButton">Manage User</th>
                    <th data-formatter="formatDeleteButton">Delete User</th>
                </tr>
            </thead>
        </table>
        <br>
        <h3>Add new user</h3>
        <br>
        <p ng-if="isWrong" style="color: red;">Please make sure you have filled in all the required fields.</p>
        <form autocomplete="off" ng-submit="createUser()">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Full Name*</label>
                    <input autocomplete="off" class="form-control" ng-model="userName" placeholder="Full Name (Ex. Joe Doe)" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Email*</label>
                    <input class="form-control" type="email" ng-model="userEmail" placeholder="user@email.com" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Password*</label>
                    <input class="form-control" type="password" ng-model="userPassword" placeholder="Password" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>User Privileges</label>
                    <select ng-model="userLevel" class="form-control">
                        <option value='User'>User</option>
                        <option value='Admin'>Admin</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Mobile</label>
                    <input class="form-control" ng-model="userMobile" placeholder="Mobile No (Ex. 01112233456)">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Country</label>
                    <select ng-change="countryChanged(userCountry)" ng-model="userCountry" class="form-control">
                        <option value=''>Choose</option>
                        <option ng-repeat="country in countries" value="{{country.name}}">
                            {{country.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>State</label>
                    <select ng-change="stateChanged(userState)" ng-model="userState" class="form-control">
                        <option value=''>Choose</option>
                        <option ng-repeat="state in states" value="{{state.name}}">
                            {{state.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Area</label>
                    <select ng-model="userArea" class="form-control">
                        <option value=''>Choose</option>
                        <option ng-repeat="area in areas" value="{{area.name}}">
                            {{area.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div style="margin-top: 20px;" class="form-group col-md-12">
                <input type="submit" class="form-control btn btn-primary" value="Add New User" />
            </div>
        </form>
    </div>
</div>