<div id="newRestContainerBack" style="padding-top: 20px;">
    <a ui-sref="manageRest">&lt; Back to Restaurants List</a>
</div>
<div id="newRestContainer" ng-controller="newRestCtrl">
    <h3>Add a New Restaurant</h3>
    <div id="newRestForm">
        <form>
            <h4 class="subRestFormTitle">Basic Information:</h4>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Restaurant Name</label>
                    <input class="form-control" ng-model="restName" placeholder="Name (Ex. T.G.I Fridays)">
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" ng-model="restDescription" placeholder="The Restaurant's description..." rows="5"></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Food Type</label>
                    <select ng-model="restFoodType" class="form-control">
                        <option value=''>Choose</option>
                        <option ng-repeat="type in rest_types" value="{{type.name}}">
                            {{type.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Hotline</label>
                    <input type="text" ng-model="restHotline" placeholder="Restaurant's main hotline" class="form-control">
                </div>
            </div>
            <h4 class="subRestFormTitle">Restaurant Main Tags:</h4>

            <div ng-repeat="tag in rest_tags" class="form-check form-check-inline col-md-3 tags-check-container">
                <input ng-change="opps()" class="form-check-input" ng-model='tag["selected"]' type="checkbox" id="{{tag.name + $index}}">
                <label class="form-check-label" for="{{tag.name + $index}}">{{tag.name}}</label>
            </div>

            <h4 class="subRestFormTitle">Restaurant Branches:</h4>

            <table id="branchesList" data-search="true" data-page-size=5 data-search-time-out=0 data-pagination="true">
                <h5 style="font-weight: bold">Branch List</h5>
                <thead class="thead-dark">
                    <tr>
                        <th data-formatter="formatID" data-field="id">#</th>
                        <th data-field="address" data-editable="true">Address</th>
                        <th data-field="geometry.lat" data-editable="true">Lat</th>
                        <th data-field="geometry.lng" data-editable="true">Lng</th>
                        <th data-formatter="formatShowOnMap" data-field="showOnMap">Show on Map</th>
                        <th data-formatter="formatDelete" data-field="delete">Delete</th>
                    </tr>
                </thead>
            </table>

            <div class="form-row map-control">
                <div class="form-group col-md-10">
                    <label>Search Branches on Map</label>
                    <input class="form-control" ng-model="searchPlaceName" placeholder="Branch Search Query (Ex. Crave Egypt)">
                </div>
                <div class="col-md-2 map-control-button-container">
                    <button ng-click="searchMap()" class="map-control-button form-control btn btn-primary">Map Search</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5" id="map"></div>
                <div class="col-md-7">
                    <table id="mapSearchtable" data-search="true" data-page-size=3 data-search-time-out=0 data-pagination="true">
                        <thead class="thead-dark">
                            <tr>
                                <th data-field="name">Name</th>
                                <th data-field="address">Address</th>
                                <th data-field="showOnMap">Show on Map</th>
                                <th data-field="addToList">Add to list</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div id="manual-branch-container" class="form-row">
                <div class="form-group col-md-8">
                    <label style="font-weight: bold;">Manual Branch Insertion</label>
                    <input class="form-control" ng-model="manualAddress" placeholder="Branch Address">
                </div>
                <div class="col-md-2 map-control-button-container">
                    <input class="form-control" ng-model="manualLatitude" placeholder="Latitude">
                </div>
                <div class="col-md-2 map-control-button-container">
                    <input class="form-control" ng-model="manualLongitude" placeholder="Longitude">
                </div>
            </div>
            <div class="form-group col-md-12">
                <button ng-click="addManualBranch()" class="form-control btn btn-primary">Add to Branch List</button>
            </div>
            <h4 class="subRestFormTitle">Restaurant Media:</h4>
            <h5>Restaurant Cover Photo</h5>
            <input type="file" style="display: none;" accept="image/x-png,image/jpeg" id="coverPhotoUpload" />
            <span ng-show="coverPhotoError" style="color: red; font-weight: bold; margin-bottom: 15px;">*Cover photos must be 1200 x 600 or must have an aspect ratio of 2:1.</span>
            <div id="coverPhotoContainer" class="pointerCrusor">
                <div id="coverPhotoContentDefault">
                    <i style="font-size: 40px; color:#727272; margin-bottom: 5px;" class="fas fa-cloud-upload-alt"></i>
                    <span style="color: #727272; text-align: center;">1200 x 600
                        <br>or
                        <br>2:1 aspect ratio</span>
                </div>
                <div id="coverPhotoContentHover">
                    <i style="font-size: 40px; color:#727272; margin-bottom: 5px;" class="fas fa-cloud-upload-alt"></i>
                    <span style="color: #727272; text-align: center; font-size: 30px;">
                        Click to Upload
                    </span>
                </div>
                <div id="coverPhotoContentUploading">
                </div>
                <div id="coverPhotoContentUploadingContent" style="width: 100%; height: 100%;">
                    <i id="closeCoverPhotoUploading" class="fas fa-times"></i>
                    <span id="uploadingTextPercentage" class="uploadingText">0%</span>
                    <span id="uploadingTextSpan" class="uploadingText">Uploading...</span>
                </div>
            </div>
            <h5 style="margin-top: 20px; margin-bottom: 15px;">Restaurant Gallery</h5>
            <input type="file" style="display: none;" accept="image/x-png,image/jpeg" id="galleryUpload" />
            <div id="galleryBigContainer">
                <div id="galleryAddContainer">
                    <div id="galleryAddDefault">
                        <i style="font-size: 40px; color:#727272; margin-bottom: 5px;" class="far fa-plus-square"></i>
                        <span style="color: #727272; text-align: center; font-size: 20px;">Add New</span>
                        <span style="color: #727272; text-align: center; font-size: 10px;">(1200 x 1200 or Square Image)</span>
                    </div>
                </div>

            </div>
            <hr>
            <div class="form-group col-md-12">
                <button ng-click="submit()" class="form-control btn btn-primary">Create Restaurant</button>
            </div>

            <div class="form-group col-md-12">
                <button ng-click="back()" class="form-control btn btn-danger">Back</button>
            </div>
        </form>
    </div>
</div>